.loader-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  top: 0px;
  max-width: 500px;
  max-height: 888px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}

.spin-loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  animation: spin 2s linear infinite;
  z-index: 100;
}

.logo-image {
  width: 20vh;
  height: 20vh;
  margin: 20px;
  z-index: 100;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lottie-loader-container {
  width: 10vh;
  height: 10vh;
  margin: 20px;
  z-index: 100;
}