body {
  position: fixed;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: white;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -4;
}

.leftPoint {
  position: absolute;
}

.rightPoint {
  position: absolute;
}

.rim {
  position: absolute;
  z-index: -2;
  overflow: hidden;
}

.board {
  position: absolute;
  background-image: url("./assets/board2.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -3;
}

.score {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 60px;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}


.ball {
  position: absolute;
  z-index: -1;
  box-shadow: 0px 15px 10px -10px #111;
  background-image: url("./assets/basketBall.png");
  background-size: cover;
}