body {
  position: fixed;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: white;
}

.ground {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-color: #e3e0e0;
  z-index: -2;
}

.leftPoint {
  position: absolute;
}

.rim {
  position: absolute;
  z-index: -2;
  overflow: hidden;
}

.board {
  position: absolute;
  background-image: url("./assets/board.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -3;
}

.score {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 60px;
  color: #918f8f;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.rightPoint {
  position: absolute;
}

.ball {
  position: absolute;
  z-index: -1;
  background-image: url("./assets/basketBall.png");
  background-size: cover;
}