body {
  margin: 0;
  display: flex;
  background: black;
  flex-direction: column;
}

canvas {
  width: 100%;
  height: 100%;
}

.treeView {
  position: absolute;
  height: 20px;
  width: 20px;
  background: red;
}

.raceContainer {
  background: white;
  overflow: hidden;
  margin: 0;
  /* transition: 20ms linear; */
  align-self: center;
}

.playerView {
  position: absolute;
  background: blue;
}
.oppView {
  position: absolute;
  background: green;
}

.button {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 50%;
}

.leftBut {
  left: 0;
}

.rightBut {
  left: 50%;
}
